<div class="container">
  <app-timer [Activities]="Activities" [rounds]="rounds" [delayBetweenActivitiesInSeconds]="delayBetweenActivitiesInSeconds" [initialDelayInSeconds]="initialDelayInSeconds"></app-timer>
  <div class="timer-configuration">
    <div class="round-configuration">
      <input class="configuration-input-field" (keyup)="roundChanged($event)" [value]="rounds"> round(s)
    </div>
    <div class="delay-configuration">
      <input class="configuration-input-field" (keyup)="delayChanged($event)" [value]="delayBetweenActivitiesInSeconds"> second delay between Activities
    </div>
    <div>
      <input class="configuration-input-field" (keyup)="initialDelayChanged($event)" [value]="initialDelayInSeconds"> second initial delay
    </div>
  </div>
  <div class="activity-list">
    <app-activity-list [(Activities)]="Activities"></app-activity-list>
  </div>
</div>
