<div class="container">
  <div class="current-action">
    {{actionDisplay}}
  </div>
  <div class="round-display">
    <div class="round-text">{{roundDisplay}}</div>
  </div>
  <div class="countdown-display">
    <div class="countdown-text">{{displayTime}}</div>
  </div>
  <div class="button-container">
    <span class="button" [ngClass]="{true: 'pause-button', false: 'start-button'}[isRunning]" (click)="startStopTimer()">{{startStopText}}</span>
    <span class="button reset-button" (click)="resetTimer()">Reset</span>
  </div>
</div>
